html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }

  body {
    margin: 15px;
    align-content: space-around;
    text-align: justify;
    background-color: #f5e1e2;
  }

  ul {
    text-align: left;
  }

  .header {
    display: flex;
    justify-content: space-around;
    width: 350px;
    align-items: center;
    list-style: none;
  }

  .headerNav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  h2, h1, h4, .titulo {
    text-align: center;
  }

  .titulo {
    font-family: cursive;
    font-size: 30px;
    color: white;
  }

  .homeAboutContact {
    border: 1px solid white; 
    background-color: #e3b8b2;
    color: white;
    padding: 15px;
    border-radius: 10%;
  }

  a {
    text-decoration: none;
    color: white;
  }

  @media (min-width: 640px) {
    body {
      background-color: #e5f3ba;
    }
  }
  
  @media (min-width: 640px) {
    .chapters {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 300px;

    }
  }

  @media (min-width: 950px) {
    body {
      background-color: #abccbd;
    }