ol li {
    background-color: yellow;
    font-weight: bold;
}

ol li:nth-last-child(2n) {
    color: green;
}

ol li:nth-last-child(2n+1) {
    text-transform: uppercase;
}

h1, h2, h3{
    color: red;
}

h1 {
    font-size: 40px;
    border: solid 1px black;
}

li {
    font-size: 20px;
}